body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* 가로 스크롤 방지 */
    flex-direction: column; /* 이미지와 버튼을 수직으로 정렬 */
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 600px; /* 최대 너비 설정 */
}

.start-image {
    max-width: 60%;
    padding: 60px;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: background-color 0.3s ease; /* 마우스 오버 효과 */
}

button:hover {
    background-color: #0056b3; /* 마우스 오버 시 배경색 */
}

#start-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#question-container {
    margin-bottom: 20px;
}

#question-container p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.answers {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

/* .answers input[type="radio"] {
    display: none; /* 기본 라디오 버튼을 숨깁니다 */
} */

.answers label {
    font-size: 0.8em;
    color: #555;
    display: block;
    text-align: center;
    cursor: pointer; /* 클릭 가능하도록 포인터 추가 */
}

.answers label span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    margin: 0 auto 5px auto;
    font-size: 1em;
    color: #ccc;
    transition: all 0.3s ease;
}
.answers input[type="radio"]:checked + span {
    border-color: #007BFF;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
}

.answers input[type="radio"]:checked + span + label {
    color: #007BFF;
    font-weight: bold;
}



/* .answers label {
    font-size: 0.9em;
    margin: 0 5px;
    white-space: nowrap;
} */

#buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#page-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: #555;
}

#result-chart {
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .answers {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .answers label {
        font-size: 0.75em; /* 텍스트 크기 줄임 */
        margin: 0 3px; /* 좌우 여백 조정 */
    }

    #page-indicator {
        font-size: 0.9em;
    }
}
