body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
}

.start-image {
    max-width: 100%;
    height: auto;
}

#question-container {
    margin-bottom: 20px;
}

#question-container p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.answers label {
    font-size: 1em;
    margin: 10px;
    display: inline-block;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result-chart {
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .answers label {
        display: block;
        margin: 10px 0;
    }
}
